.headdiv
{
    text-align: center;
    font-family: 'Segoe UI', sans-serif;
    color: black;
}

.divbox
{
    height: 100%;
    width: 100%;
    margin: 1px;
    background-color: blue;
    border: solid, black;
}

.container 
{
  display: grid;
  grid-template-columns: repeat(3, 60px);
  gap: 10px;
  height: 20%;
}

